@mixin pad{
    @media(max-width: 768px){
        @content;
    }
}

$deep:#3F5D45;
$shallow:#EAF0ED;
$middle:#8DA291;
$button-color:#FFE180;
$fontbasic:16px;
$font-1:1.25rem;
$font-2:1.5rem;
$font-3:2rem;
$font-4:2.25rem;
$font-l:45px;