.insidePage-main{
    margin: 80px auto 60px;
    @include pad{
        margin:40px auto;
    }
    .description{
        height: 0;
        @include pad{
            height: auto;
        }
    }
    .input-group{
        select{
            width: 46%;
        }
        &-append{
            width: 54%;
        }
    }
    h6{
        font-weight: bold;
    }
}


